@charset "UTF-8";
/* line 104, icons/*.png */
.icons-sprite, .icons-fb-off, .icons-fb-on_hover, .icons-ig-off, .icons-ig-on_hover, .icons-tw-off, .icons-tw-on_hover, .icons-yt-off, .icons-yt-on_hover {
  background-image: url('/C:/xampp/htdocs/github/one-page-sass/img/icons-s0bbb6193f2.png');
  background-repeat: no-repeat;
}

/* line 84, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fb-off {
  background-position: 0 -700px;
  height: 100px;
  width: 100px;
}

/* line 84, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fb-on_hover {
  background-position: 0 0;
  height: 100px;
  width: 100px;
}

/* line 84, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-ig-off {
  background-position: 0 -100px;
  height: 100px;
  width: 100px;
}

/* line 84, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-ig-on_hover {
  background-position: 0 -200px;
  height: 100px;
  width: 100px;
}

/* line 84, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tw-off {
  background-position: 0 -300px;
  height: 100px;
  width: 100px;
}

/* line 84, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tw-on_hover {
  background-position: 0 -400px;
  height: 100px;
  width: 100px;
}

/* line 84, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-yt-off {
  background-position: 0 -500px;
  height: 100px;
  width: 100px;
}

/* line 84, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-yt-on_hover {
  background-position: 0 -600px;
  height: 100px;
  width: 100px;
}

/* line 6, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/style.scss */
nav {
  background: linear-gradient(#00bfff, #1e90ff);
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 #0052a3 inset, 0 -2px 0 #0061c2 inset, 0 -3px 0 #0070e0 inset, 0 -4px 0 #0080ff inset, 0 -5px 0 #3399ff inset;
}

/* line 35, ../sass/style.scss */
html {
  font-size: 62.5%;
  font-family: "Trebuchet MS", sans-serif;
}

/* line 40, ../sass/style.scss */
body {
  background-image: url("../img/fondopa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Trebuchet MS", sans-serif;
}

/* line 3, ../sass/partials/_header.scss */
header {
  width: 100%;
  background-image: url(../img/fond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  text-align: center;
}

/* line 49, ../sass/style.scss */
.ml3 {
  font-weight: 900;
  font-size: 6rem;
  margin-bottom: 20px;
  color: white;
}

/* line 4, ../sass/partials/_nav.scss */
.titre {
  height: 200px;
  padding-top: 100px;
}

/* line 8, ../sass/partials/_nav.scss */
.titre p {
  font-size: 3.6rem;
  color: white;
}

/* line 12, ../sass/partials/_nav.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 16, ../sass/partials/_nav.scss */
nav p:first-child a {
  border-radius: 3px 0 0 3px;
}

/* line 19, ../sass/partials/_nav.scss */
nav p:last-child a {
  border-radius: 0 3px 3px 0;
}

/* line 29, ../sass/partials/_nav.scss */
nav p:nth-child(1) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* line 29, ../sass/partials/_nav.scss */
nav p:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* line 29, ../sass/partials/_nav.scss */
nav p:nth-child(3) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* line 29, ../sass/partials/_nav.scss */
nav p:nth-child(4) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* line 36, ../sass/partials/_nav.scss */
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.7;
  z-index: 1000;
}

/* line 47, ../sass/partials/_nav.scss */
nav p {
  height: 40px;
  display: block;
  padding: 8px 8px 17px 8px;
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.7);
  transition: all .3s .1s;
  position: relative;
}

/* line 57, ../sass/partials/_nav.scss */
nav p:hover {
  background-color: #2d96f3;
  box-shadow: 2px 3px 10px  #2d51f3 inset;
  color: white;
  padding: 8px 40px 17px 40px;
  transition: all .3s 0s;
}

/* line 66, ../sass/partials/_nav.scss */
nav p::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 9px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
}

/* line 82, ../sass/partials/_nav.scss */
nav p:hover::before {
  background: white;
  box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, 0.4);
}

                        /*Container\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
///////////////////////////////////////////////////////////////////////////////*/
/* line 58, ../sass/style.scss */
h2 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

/* line 64, ../sass/style.scss */
h3 {
  font-size: 1.8rem;
  font-weight: bolder;
}

/* line 69, ../sass/style.scss */
.fa-clipboard,
.fa-fast-forward,
.fa-image,
.fa-portrait {
  color: black;
  width: 50px;
  height: 50px;
  margin: 0;
  vertical-align: sub;
}

/* line 80, ../sass/style.scss */
.container {
  margin: auto;
}
/* line 83, ../sass/style.scss */
.container p {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

/* line 89, ../sass/style.scss */
.st1,
.st3 {
  max-width: 980px;
  margin: auto;
}

/* line 95, ../sass/style.scss */
.st4 {
  margin: auto;
  width: 100%;
}

/* line 100, ../sass/style.scss */
.st2 h2,
.st2 p,
.st4 h2 {
  max-width: 980px;
  margin: auto auto 20px;
}

/* line 107, ../sass/style.scss */
h2 {
  margin-top: 15px;
}

/*partie 1////////////////////////////////////////////////////////////////////*/
/* line 112, ../sass/style.scss */
.image {
  display: flex;
  flex-wrap: wrap;
}
/* line 116, ../sass/style.scss */
.image img {
  position: relative;
  top: 0;
  box-shadow: 6px 6px 6px black;
  transition: all 0.3s ease-in;
}

/* line 124, ../sass/style.scss */
.image img:hover {
  top: -35px;
  border-radius: 50%;
  box-shadow: 10px 10px 35px grey;
}

/* line 130, ../sass/style.scss */
.img {
  margin-right: 12px;
}

/*partie 2///////////////////////////////////////////////////////////////////*/
/* line 135, ../sass/style.scss */
iframe {
  width: 100%;
  margin-top: 20px;
}

/*partie 3///////////////////////////////////////////////////////////////////*/
/* line 140, ../sass/style.scss */
.imgform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 146, ../sass/style.scss */
form {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 500px;
  margin-left: 50px;
}

/* line 154, ../sass/style.scss */
input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  font-weight: bold;
}

/* line 161, ../sass/style.scss */
input {
  height: 55px;
  margin-bottom: 15px;
  font-size: 1.6rem;
}

/* line 167, ../sass/style.scss */
textarea {
  margin-bottom: 15px;
  height: 165px;
  font-size: 1.6rem;
  resize: none;
  overflow: auto;
  font-family: 'Trebuchet MS', sans-serif;
}

/* line 176, ../sass/style.scss */
.button {
  height: 55px;
  width: 160px;
  margin: auto;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(#00bfff, #1e90ff);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 #0052a3 inset, 0 -2px 0 #0061c2 inset, 0 -3px 0 #0070e0 inset, 0 -4px 0 #0080ff inset, 0 -5px 0 #3399ff inset;
  color: white;
  font-size: 1.6rem;
  font-weight: bolder;
  outline: none;
  cursor: pointer;
}

/* line 190, ../sass/style.scss */
.icone1,
.icone2,
.icone3 {
  border: 1px solid #242323;
  width: 450px;
  height: 55px;
  color: #242323;
  margin-bottom: 5px;
}

/* line 200, ../sass/style.scss */
.icone2,
.icone3 {
  margin-top: 5px;
}

/* line 205, ../sass/style.scss */
.icone4 {
  border: 1px solid #242323;
  width: 450px;
  height: 140px;
  color: #242323;
  margin-top: 5px;
}

/* line 213, ../sass/style.scss */
.mail,
.tel,
.text {
  border: 0;
  width: 405px;
  outline: none;
  background-color: inherit;
}

/* line 222, ../sass/style.scss */
.area {
  border: 0;
  width: 405px;
  margin-top: 5px;
  height: 130px;
  background-color: inherit;
  outline: none;
}

/* line 231, ../sass/style.scss */
.fa-comment {
  top: -125px;
  position: relative;
}

/* line 236, ../sass/style.scss */
.fa-comment,
.fa-envelope,
.fa-user {
  padding: 10px;
  font-size: 15px;
}

/* line 243, ../sass/style.scss */
.fa-mobile-alt {
  padding: 15px;
  font-size: 15px;
}

/*images anim├®s\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* line 249, ../sass/style.scss */
#cf2 {
  position: relative;
  height: 380px;
  width: 450px;
  margin: 0 auto;
}

/* line 256, ../sass/style.scss */
#cf2 img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}

@media screen and (max-width: 980px) {
  /* line 265, ../sass/style.scss */
  #cf2 {
    max-width: 100%;
    height: calc(85vw);
  }

  /* line 270, ../sass/style.scss */
  form {
    width: 100%;
  }

  /* line 274, ../sass/style.scss */
  .titre {
    width: 100%;
    padding: 0;
  }

  /* line 279, ../sass/style.scss */
  nav {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  /* line 284, ../sass/style.scss */
  #cf2 {
    width: 100%;
    height: calc(85vw);
  }

  /* line 289, ../sass/style.scss */
  form {
    max-width: 100%;
  }

  /* line 293, ../sass/style.scss */
  .titre {
    width: 100%;
    padding: 0;
  }

  /* line 298, ../sass/style.scss */
  nav {
    display: flex;
    flex-wrap: wrap;
  }
}
/* line 303, ../sass/style.scss */
#cf2 img.transparent {
  opacity: 0;
}

@keyframes chgt_image {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 324, ../sass/style.scss */
#cf2 img.top {
  animation-name: chgt_image;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
}

/*partie 4////////////////////////////////////////////////////////////////////*/
/* line 333, ../sass/style.scss */
#volet {
  width: 250px;
  padding: 5px;
  background: linear-gradient(#00bfff, #1e90ff);
  color: #fff;
  position: relative;
  border: 2px solid white;
  left: -270px;
  top: 55px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* line 346, ../sass/style.scss */
#volet:target {
  left: 0;
}

/* line 350, ../sass/style.scss */
#volet a.fermer,
#volet a.ouvrir {
  padding: 10px 15px;
  font-size: 2.2rem;
  background: #555;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  color: #fff;
  text-decoration: none;
  position: absolute;
  right: -88px;
  top: 50px;
  /* quelques styles CSS3 */
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  border-radius: 0 0 8px 8px;
}

/* line 371, ../sass/style.scss */
#volet a.fermer {
  display: none;
}

/* line 375, ../sass/style.scss */
#volet_clos:target #volet {
  left: -270px;
}

/* line 379, ../sass/style.scss */
#volet:target a.ouvrir {
  display: none;
}

/* line 383, ../sass/style.scss */
#volet:target a.fermer {
  display: block;
}

/* line 388, ../sass/style.scss */
#send {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjQ1cHgiIGN5PSI0NXB4IiByPSIzMCUiPjxzdG9wIG9mZnNldD0iMzMuMzMzMzMlIiBzdG9wLWNvbG9yPSIjMDBmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWU5MGZmIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
  background-image: -webkit-radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
  background-image: radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/*Footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* line 2, ../sass/partials/_footer.scss */
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 150px;
  position: absolute;
  background-color: #2d96f3;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
}
/* line 12, ../sass/partials/_footer.scss */
footer span {
  width: 100px;
  height: 100px;
}

/* line 17, ../sass/partials/_footer.scss */
.icons-fb-on_hover, .icons-tw-on_hover, .icons-ig-on_hover, .icons-yt-on_hover {
  display: block;
}
