//sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp
//header
header{
  width: 100%;
  background-image: url(../img/fond.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 300px;
  text-align: center;
}
